<div class='container'>
<header class="page-header">
  <div class='jumbotron'>
    <h1 class='display-4'>{{ task.name }}</h1>
    <p class='lead'>{{task.description}}</p>
    <hr>
    <p class='lead'>The task deadline is in:</p>
    <h1 class='display-4' id='countdownClock'></h1>
  </div>
</header>


<table id='tasktable' class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Message User</th>
    </tr>
  </thead>
  <tbody>
    {{#each task.users as |user|}}
    <tr>
      <td><a href="/users/{{user.id}}">{{ user.username }}</a></td>
      <td class='col-md-2'>
        <a href='/users/{{user.id}}/message'>Message {{user.username}}</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
<script>
  const deadline = new Date('{{ task.deadline }}');
  let countdownTimer = setInterval(() => {
    let now = new Date();
    let distance = deadline - now;
    let days = Math.floor(distance / (1000 * 60 * 60 * 24));
    let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    document.getElementById("countdownClock").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
    if (distance < 0) {
      clearInterval(countdownTimer);
      document.getElementById("countdownClock").innerHTML = "The deadline has passed.";
    }
  }, 1000);
</script>

