<header class="page-header">
  <h1>Edit Project: {{ project.name }}</h1>
</header>


<form action="/projects/{{ project.id }}" method="post">
  <input type="hidden" name="_method" value="PUT">

  <div class="form-group">
    <label for="project_name">Project name</label>
    <input type="text" id="project_name" name="project[name]" class="form-control" value="{{ project.name }}">
    <label for="project_description">Project description</label>
    <input type="text" id="project_description" name="project[description]" class="form-control" value="{{ project.description }}">
    <label for="project_deadline">Project deadline</label>
    <input type="date" id="project_deadline" name="project[deadline]" class="form-control" value="{{ project.deadline }}">
  </div>

  <div class="form-group">
    <input type="submit" class="btn solarized-blue">
  </div>
</form>
